body{
    margin: 0%;
    padding: 0%;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(196, 120,85);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 1.2em;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: white;
    color: rgb(196,120,85);
}
.navbar li{
    float: left;
}
#main{
    width: 100%;
    height: auto;
    margin: 0px;
    background-color: rgb(080,127,104);
}
#peg{
    color: rgb(249, 077, 060);
    font-size: 6em;
    font-family: fantasy;
    position: fixed;
}
#arrow{
    position: absolute;
    margin-left: -57%;
    margin-top: 26%;
    width: 12%;
    transform: rotate(60deg);
}
#ver{
    font-family: 'Courier New';
    float:right;
}