#main{
    width: 100%;
    height: auto;
    margin: 0px;
}
#peg{
    color: rgb(249, 077, 060);
    font-size: 6em;
    font-family: fantasy;
}

.menu{
    background-color: rgb(196, 120,85);
    color: white;
}

#ver{
    font-family: 'Courier New';
    float:right;
}

