body{
    background-color: rgb(080,127,104);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('dipishiti.png');
    background-size: cover;
    background-position: top;
    background-repeat: repeat;
}
#welcome{
    font-size: 5em;
    margin-left: 2%;
}
#fire{
    font-size: 2em;
    margin-left: 2%;
}
#hoover{
    font-size: 1.1em;
    margin-left: 2%;
}
#follow a{
    font-size: 1.8em;
    color: white;
    font-style: italic;
    margin-left: 2%;
}
#cool a{
    font-size: 1.4em;
    color: white;
    font-style: italic;
    margin-left: 2%;
}
#nightmare{
    margin-left: 2%;
}